.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(22, 22, 22, 0.7);
}
.modal__widow{
    max-width: 500px;
    top: 175px;
    left: 524px;
    padding: 30px;
    gap: 20px;
    border-radius: 20px;
    background-color: #fefefe;
    margin: 200px auto;
    border: 1px solid #888;
}
.modal__title{
    position: relative;
    text-align: center;
    width: 100%;

}
.modal_button_close{
    right: -10px;
    bottom: 30px;
    position: absolute;
    background: white center no-repeat;
    border: none;
    width: 14px;
    height: 14px;
    cursor: pointer;
}